include AUTHORS.rst
include LICENSE.rst
include CHANGELOG.rst
include README.rst
include runtests.sh
recursive-include docs *
recursive-include shop_paypal/locale *
recursive-include shop_paypal/templates *
